.margen_input{
    margin-top: 20px;
    margin-left: 10px;
    
}
.input-index{
    color: #fff;   
    
    background-color: #198754;
    border-color: #198754;
}

.input-registro{
    background-color: rgb(189, 178, 178);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#imgLogo{
    margin: 10px;
}
header{
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(86, 168, 4);
}

.centrar_titulo{
    margin-bottom: 20px;
}

#btn-submit-form{
    background-color: rgb(86, 168, 4);
    size: 100px;
}

form{
    text-align: center ;
}
label{
    text-align: left;
}


.btn {
    display: inline-block;
    font-weight: 200;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem; 
    font-size: 1rem;
    border-radius: 10px 10px 10px 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}